/* assets/style.css */
.nav-link-custom:hover {
    background-color: #95CDF6; /* Background color on hover */
    color: #0052B5; /* Text color */
}

.custom-nav .nav-link.active {
    background-color: #0052B5; /* Darker baby blue background */
    color: #fff; /* White text */
}

.search-row:hover, .library-row:hover {
    background-color: #DAE9F4; /* Background color on hover */
    color: #0052B5; /* Text color */
}

.modal-backdrop {
    z-index: 1040 !important;
}

.base-modal {
    z-index: 1050 !important;
}

.input-modal {
    z-index: 1060 !important;
}
