/* assets/style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    min-width: 750px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/* Setting color for all headings */
h1, h2, h3, h4, h5, h6 {
    color: #00295b; /* Dark blue color for headings */
}

/* Setting color for all body text */
body {
    color: #0052B5; /* Slightly lighter blue for body text */

.search-row, .library-row {
    min-width: 500px;
}

.nav-link-custom:hover {
    background-color: #95CDF6; /* Background color on hover */
    color: #0052B5; /* Text color */
}

.custom-nav.active .nav-link.active {
    background-color: #0052B5; /* Darker baby blue background */
    color: #fff; /* White text */
}

.search-row:hover, .library-row:hover {
    background-color: #DAE9F4; /* Background color on hover */
    color: #0052B5; /* Text color */
}

.modal-backdrop {
    z-index: 1040 !important;
}

.info-modal {
    z-index: 1050 !important;
}

.input-modal {
    z-index: 1060 !important; /* Ensure input modal is always over info modal  */
}

.resource-icon, .info-icon {
    transition: transform 0.3s ease-in-out; /* Smooth transition for the scaling effect */
}

.resource-icon:hover, .info-icon:hover {
    transform: scale(1.1); /* Slightly grow the object upon hover */
}