/* assets/style.css */
.nav-link-custom:hover {
    background-color: #95CDF6; /* Background color on hover */
    color: #0052B5; /* Text color */
}

.custom-nav .nav-link.active {
    background-color: #0052B5; /* Darker baby blue background */
    color: #fff; /* White text */
}
